:root {
	--primary: #405484;
	--secondary: #397bc1;
	--tertiary: #1c4066;
	--light-blue: #dceafc;
	--gray: #333;
	--light-gray: #cccccc;
	--black: #0c0c0c;
	--white: #f1f1f1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}

body {
	font-size: 100%;
	font-family: 'Poppins', 'Arial', 'Helvetica', sans-serif;
}


