---
import Card from '@/components/Card.astro';
---

<section>
	<Card title='Contacto' icon='/icons/step_1.svg' image='/images/step_1.jpg'
		><p>
			Contactanos o agenda una reunión para discutir tus ideas. Nos encantaría que te ayuden a crear un proyecto
			que te guste.
			<br />
			<br />
			Si tienes una idea en mente, no dudes en enviarnos un email.
		</p></Card
	>
	<Card title='Construcción' icon='/icons/step_2.svg' image='/images/step_2.jpg'
		><p class="text-center">
			Construiremos tu pagina de una manera profesiona, con metodologia y 
			pedagogía para que sea fiel a tu idea.
		</p></Card
	>
	<Card title='Presentación' icon='/icons/step_3.svg' image='/images/step_3.jpg'	
		><p>
			Te Daremos tu propuesta convertida en un proyecto de gran calidad.
			<br />
			<br />
			Nos caracteriza nuestra buena atencion a los detalles y nuestro compromiso
			con la calidad de tu proyecto.
		</p></Card
	>
</section>

<style>
	section {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		width: 100%;
		min-height: 100vh;
		gap: 1rem;
		max-width: 80rem;
		padding: 1rem;
		margin: 0 auto;
		align-items: center;
	}
	.text-center {
		line-height: 1.5;
	}
	p{
		font-weight: 410;
	}
</style>