---
import Card from '@/components/Card.astro';
---

<section>
	<Card id='card_1' title='Contacto' icon='/icons/step_1.svg'
		><p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget condimentum tortor. Quisque ac
			viverra velit. Curabitur mattis nulla eu nunc interdum sagittis eget quis mauris. Suspendisse posuere
			leo libero, sed laoreet lectus mattis vel. Aliquam erat volutpat. Sed bibendum lectus a dictum
			hendrerit. Aenean convallis vestibulum blandit. Cras ac auctor sapien. Nam non suscipit purus, vitae
			elementum mauris. Ut venenatis sollicitudin elit ullamcorper elementum. Sed a lacus quam
		</p></Card
	>
	<Card id='card_2' title='Construcción' icon='/icons/step_2.svg'
		><p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget condimentum tortor. Quisque ac
			viverra velit. Curabitur mattis nulla eu nunc interdum sagittis eget quis mauris. Suspendisse posuere
			leo libero, sed laoreet lectus mattis vel. Aliquam erat volutpat. Sed bibendum lectus a dictum
			hendrerit. Aenean convallis vestibulum blandit. Cras ac auctor sapien. Nam non suscipit purus, vitae
			elementum mauris. Ut venenatis sollicitudin elit ullamcorper elementum. Sed a lacus quam
		</p></Card
	>
	<Card id='card_3' title='Presentación' icon='/icons/step_3.svg'
		><p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget condimentum tortor. Quisque ac
			viverra velit. Curabitur mattis nulla eu nunc interdum sagittis eget quis mauris. Suspendisse posuere
			leo libero, sed laoreet lectus mattis vel. Aliquam erat volutpat. Sed bibendum lectus a dictum
			hendrerit. Aenean convallis vestibulum blandit. Cras ac auctor sapien. Nam non suscipit purus, vitae
			elementum mauris. Ut venenatis sollicitudin elit ullamcorper elementum. Sed a lacus quam
		</p></Card
	>

	<script>
		document.addEventListener('DOMContentLoaded', () => {
			const card_1 = document.getElementById(`card_1`);
			const card_2 = document.getElementById(`card_2`);
			const card_3 = document.getElementById(`card_3`);

			const observer = new IntersectionObserver((entries) => {
				entries.forEach((entry) => {
					if (entry.isIntersecting) {
						entry.target.classList.add('visible');
						observer.unobserve(entry.target);
					}
				});
			});

			observer.observe(card_1);
			observer.observe(card_2);
			observer.observe(card_3);
		});
	</script>
</section>

<style>
	section {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		width: 100%;
		gap: 1rem;
		max-width: 80rem;
		padding: 1rem;
		margin: 0 auto;
	}
</style>
