<footer>
    <div class="footer-container">
        <p>© 2024 WebMasterL</p>
        <a href="mailto:webmasterl@webmasterl.es">Contacto</a>
    </div>
</footer>
<style>
footer {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    width: 100%;
    background-color: #405484;
    border-top-left-radius: 0.8rem; 
    border-top-right-radius: 0.8rem;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 80rem;
    color: #F9FAFB; 

}

p {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #F9FAFB; 
    margin: 0;
}

a {
    display: flex;
    padding: 0.5rem 1rem;
    justify-content: right;
    align-items: center;
    border-radius: 0.4rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: #F9FAFB;
    background-color: #2c3549;
    transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), border-color 300ms cubic-bezier(0.4, 0, 0.2, 1), text-decoration-color 300ms cubic-bezier(0.4, 0, 0.2, 1), fill 300ms cubic-bezier(0.4, 0, 0.2, 1), stroke 300ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    text-decoration: none;
}

a:hover {
    transform: scale(0.4s 1.02 ease-in-out);
    color: #fff;
    background-color: #5a6799;}
</style>