<header>
	<div>
		<img src='/logo2.png' alt='logo Webmasterl' />
	</div>
	<button id='menu-button'> ☰ </button>

	<nav id='nav-menu'>
		<ul>
			<li><a href='#'>Inicio</a></li>
			<li><a href='#'>Servicios</a></li>
			<li><a href='#'>Contacto</a></li>
		</ul>
	</nav>
</header>

<script>
	const menuButton = document.querySelector('#menu-button');
	const navMenu = document.querySelector('#nav-menu');

	menuButton.addEventListener('click', () => {
		menuButton.textContent = navMenu.classList.contains('isOpen') ? '☰' : 'X';
		navMenu.classList.toggle('isOpen');
	});
</script>

<style>
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: var(--primary);
		height: 5rem;
		padding: 1rem;
		position: relative;
		width: 100%;
	}
	img {
		width: 10rem;
		height: 100%;
	}
	nav {
		display: flex;
		align-items: center;
	}

	ul {
		display: flex;
		list-style: none;
		gap: 1rem;
	}
	li {
		display: flex;
	}
	li a {
		color: var(--white);
		text-decoration: none;
		padding: 1rem;
		position: relative;
		text-align: center;
		display: flex;
	}
	li a::before {
		content: '';
		position: absolute;
		width: 0%;
		height: 0.2rem;
		border-radius: 1rem;
		background-color: var(--white);
		left: 0;
		bottom: 0.3rem;
	}
	li a:hover::before {
		width: 100%;
		transition: width 0.2s ease;
	}

	button {
		margin-left: auto;
		background-color: transparent;
		border: none;
		cursor: pointer;
		color: var(--white);
		width: 4rem;
		height: 4rem;
		font-size: 2.5em;
		display: none;
	}

	nav.isOpen {
		transform: translateX(-100%);
	}

	@media (max-width: 48rem) {
		button {
			display: block;
		}
		nav {
			position: fixed;
			top: 5rem;
			right: -50%;
			width: 50%;
			transition: transform 0.3s ease;
			padding: 3rem 0;
			height: calc(100vh - 5rem);
			background-color: var(--primary);
			justify-content: center;
			align-items: flex-start;
		}

		ul {
			flex-direction: column;
		}
		li a {
			width: 100%;
			padding: 1rem;
			padding-left: 0;
		}
	}
</style>
