---
import Header from '@/layouts/Header.astro';
import Footer from '@/layouts/Footer.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang='es'>
	<head>
		<meta charset='UTF-8' />
		<meta name='description' content='Astro description' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='generator' content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style is:global>
	:root {
		--primary: #405484;
		--secondary: #397bc1;
		--tertiary: #1c4066;
		--light-blue: #dceafc;
		--gray: #333;
		--light-gray: #cccccc;
		--black: #0c0c0c;
		--white: #f1f1f1;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	html {
		scroll-behavior: smooth;
	}

	body {
		overflow: hidden;

		font-size: 100%;
		font-family: 'Poppins', 'Arial', 'Helvetica', sans-serif;
	}
</style>
